@import "tailwindcss";

@font-face {
    font-family: 'roboto';
    src: local('roboto'), url('/src/assets/fonts/Roboto.ttf');
}

@theme {
    --font-roboto: 'Roboto', 'sans-serif';

    --color-crimson: #F04770;
    --color-mediumseagreen: #06D79F;
    --color-goldenrod: #FFC53E;
}

.text-shadow-custom {
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7); /* Ajuste l'ombre comme tu veux */
}